<h1>Advert from <%= @advert.user.user_name %></h1>

<h2><%= @advert.title %></h2>
<p>Type: <%= @advert.type_ad %></p>
<p>Address<%= @advert.address %></p>
<p>Content:</p>
<p><%= @advert.content %></p>